<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.staff.dao.StaffDao">

    <insert id="insert" parameterType="com.example.staff.entity.Staff">
        insert into staff(username,age,sex,salary) values(#{username},#{age},#{sex},#{salary})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from staff where id=#{id}
    </delete>

    <update id="updateById" parameterType="com.example.staff.entity.Staff">
        update staff set username=#{username},age=#{age},sex=#{sex},salary=#{salary} where id=#{id}
    </update>

    <select id="getAll" resultType="com.example.staff.entity.Staff">
        select * from staff
    </select>

    <select id="getById" parameterType="java.lang.Integer" resultType="com.example.staff.entity.Staff">
        select * from staff where id=#{id}
    </select>
</mapper>